# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
teetime/node_modules
teetime/.pnp
.pnp.js
.yarn/install-state.gz

# testing
teetime/coverage

# next.js
teetime/.next/
teetime/out/

# production
teetime/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

LocalPostgres/
